// https: //www.nottingham.ac.uk/brand/services/colours.aspx

// UoN brand colours (appropriate for Bootstrap)
$brand-primary: #005597; // Blue Three
$brand-secondary: #92918e; // Neutral Tw o
$brand-success: #37a158; // Bright Green
$brand-danger: #d9292b; // Bright Red
$brand-warning: #d27826; // Arts
$brand-info: #099085; // Turquoise
$brand-light: mix($color-white, $brand-secondary, 80%); // Neutral Two (tinted lighter)
$brand-dark: #4a4949; // Neutral One